.nav {
    background-color: black;
    color: #ffffff;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.nav-title {
    margin-left: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    width: 50%;
}

.btn {
    background-color: #17a2b8;
    width: 100px;
    color: #ffffff;
    border: none;
    box-shadow: 5px 5px #000000;
    height: 35px;
    font-size: 16px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-card {
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-header {
    background-color: #17a2b8;
    height: 125px;
    margin-bottom: 70px;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}

    h4{
        background-color: grey;
        width: 100px;
        position: absolute right;
    }

