* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* utility classes */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.container {
width: 70%;
margin: 0 auto;
}
/* utility classes*/ 