.nav {
    background-color: #333333;
    color: #ffffff;
    height: 100px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-title {
    margin-left: 20px;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.btn {
    background-color: #17a2b8;
    width: 100px;
    color: #ffffff;
    border: none;
    box-shadow: 5px 5px #000000;
    height: 35px;
    font-size: 16px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}